{% extends './base.html' %}

{% block title %}
  {{ listing.title }}
{% endblock %}

{% block content %}
  <div>
    <h1>{{ listing.title }}</h1>
    <p>
      {% if listing.updated_at == listing.created_at %}
        Postavljen: {{ listing.created_at|date:'d.m.Y H:i:s' }}
      {% else %}
        Ažuriran: {{ listing.updated_at|date:'d.m.Y H:i:s' }}
      {% endif %}
    </p>
    <p>{{ listing.price }} EUR</p>
    <a href="{% url 'update' listing.id %}"><button>Izmeni</button></a> | <a href="{% url 'delete' listing.id %}"><button>Ukloni</button></a>
  </div>

  {% include './partials/__building.html' with building=listing.apartment.building %}
  {% include './partials/__apartment.html' with apartment=listing.apartment %}
  {% include './partials/__terms.html' with terms=listing.terms %}

  <div>
    <h2>Opis</h2>
    {{ listing.description }}
  </div>
  <br />
  <a href="{% url 'list' %}"><button>Nazad</button></a>
{% endblock %}
